.transparent-div {
  background: linear-gradient(
      12deg,
      rgba(33, 14, 154, 0.215),
      rgba(73, 129, 227, 0.172) 70.71%
    ),
    linear-gradient(
      100deg,
      rgba(69, 63, 152, 0.416),
      rgba(0, 255, 0, 0.12) 70.71%
    );
  margin: 3rem 7rem;
  border-radius: 12px;
  padding: 4rem 2.5rem 3rem;
  color: rgba(9, 7, 56, 0.899);
}

.transparent-div img {
  max-width: 400px;
  mix-blend-mode: darken;
}

.title-and-sub {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}

.title-and-sub p {
  font-size: 1.2rem;
  font-weight: 600;
}

.price-and-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  max-width: 45ch;
}

.product-price {
  font-style: italic;
  font-size: 1.3rem;
}

.increment-container {
  display: flex;
  background-color: rgba(255, 255, 255, 0.586);
  appearance: none;
  border: none;
  padding: 0.6rem 1.3rem;
  border-radius: 25px;
}

.increment-container > p,
.increment-container > button {
  color: rgba(6, 3, 27, 0.685);
  margin: 0 0.3rem;
}

.increment-container > button {
  appearance: none;
  background-color: transparent;
  border: none;
}

.increment-container > button:hover {
  cursor: pointer;
  color: green;
}

.c-and-s {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.c-and-s > button {
  background-color: rgba(6, 3, 27, 0.685);
  appearance: none;
  border: none;
  padding: 0.6rem 2rem;
  color: white;
  border-radius: 25px;
}

.c-and-s > button:hover {
  cursor: pointer;
  background-color: rgba(35, 23, 110, 0.716);
  transform: scale(1.04);
  transition: all 0.1s;
}
